.landing {
  .landing-page {
    height: 1024px;
    width: 1440px;
    background-color: #ffffff;
  }
  .img-1 {
    height: 240px;
    width: 240px;
  }
  .text-2 {
    text-align: left;
    vertical-align: top;
    font-size: 80px;
    font-family: Poppins;
    line-height: auto;
    color: #3c1dba;
  }
  .text-3 {
    text-align: left;
    vertical-align: top;
    font-size: 25px;
    font-family: Poppins;
    line-height: auto;
    color: #3c1dba;
  }
  .text-4 {
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    font-family: Poppins;
    letter-spacing: 4%;
    line-height: 29%;
    color: #3c1dba;
  }
  .text-5 {
    text-align: left;
    vertical-align: top;
    font-size: 18px;
    font-family: Poppins;
    line-height: auto;
    color: #224422;
  }
  .text-6 {
    text-align: left;
    vertical-align: top;
    font-size: 18px;
    font-family: Poppins;
    line-height: auto;
    color: #224422;
  }
  .text-7 {
    text-align: left;
    vertical-align: top;
    font-size: 18px;
    font-family: Poppins;
    line-height: auto;
    color: #224422;
  }
  .text-8 {
    text-align: left;
    vertical-align: top;
    font-size: 18px;
    font-family: Poppins;
    line-height: auto;
    color: #224422;
  }
  .img-9 {
    transform: rotate(-1deg);
    border-radius: 6rem;
    height: 533px;
    width: 618px;
    background-color: #ffffff;
  }
  .btn-_hire {
    border-radius: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.8rem 3.5rem;
    gap: 1rem;
    background-color: #3c1dba;
  }
  .text-1-0 {
    text-align: left;
    vertical-align: top;
    font-size: 25px;
    font-family: Poppins;
    line-height: auto;
    color: #ffffff;
  }
  .btn-_hire {
    border-radius: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.8rem 3.5rem;
    gap: 1rem;
    background-color: #ffffff;
    border: 0.1rem solid #312dff;
  }
  .text-1-1 {
    text-align: left;
    vertical-align: top;
    font-size: 25px;
    font-family: Poppins;
    line-height: auto;
    color: #3c1dba;
  }
  .rectangle-6 {
    border-radius: 3.8rem;
    height: 127px;
    width: 73px;
    background-color: rgba(196, 196, 196, 0);
    border: 0.6rem solid #224422;
  }
  .rectangle-7 {
    opacity: 0.5;
    border-radius: 3.3rem;
    height: 36px;
    width: 38px;
    background-color: #3c1dba;
    border: 0.5rem solid #224422;
  }
}
